.no-webp .inicio{
    background-image: url();
}


.header {
    background-color: $gris-oscuro;
    padding: 1rem 0 3rem 0 ;
}
.barra{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}